.sample-input{
      width:120px;
      height:24px !important;
      font-size:14px;
      -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid silver;
	color:#333;
      
}
