* {
    font-family: "Open Sans";
}

.md-header {
    background-color: #222 !important;
    border-bottom: 3px solid  #028475;
}

table td:nth-child(2),
table td:nth-child(3) {
    color: #888;
}

.md-logo {
    padding: 0 !important;
}

.md-logo img {
    width: 36px;
    height: 36px;
}

.md-header-nav__title {
    padding-left: 10px;
}

.md-header-nav__source,
.md-source__repository,
.md-nav__title {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

.md-content__inner label {
    display: block;
    min-width: 300px;
}

input.datepicker-demo,
input.datepicker-demo-alt {
    min-width: 200px;
    border: 1px solid gray !important;
    padding: 10px;
}

.md-content__inner .inline-sample {
    display: block;
    width: 100%;
    float: right;
    clear: both;
}

.home-page .md-sidebar {
    display: none;
}

.home-page .md-content {
    display: block;
    width: 90%;
    margin: 0px 5%;
}

.home-page .jumbotron {
    border: 2px solid red !important;
}


