extends layout

block style

  link(rel='stylesheet', href='css/datepicker.css')
  link(rel='stylesheet', href='css/pwt-datepicker.css')
  
  link(rel='stylesheet', href='js/prettify/theme/desert.css')
  

block scripts
   script(src='https://rawgithub.com/babakhani/PersianDate/Develop/pwt-date.js')
   script(src='https://rawgithub.com/babakhani/pwt.datepicker/Develop/js/pwt-datepicker.js')
   
   script(src='js/prettify/prettify.js')
   

block content
  #main_content_wrap.outer
   #main_content_wrap.outer
      section#main_content.inner
        include ../includes/datepicker.html