extends layout
block style
    link(rel='stylesheet', href='http://rawgithub.com/babakhani/pwt.datepicker/Develop/dist/css/persian-datepicker-0.3.6.min.css')
block scripts
    script(src='http://rawgithub.com/babakhani/pwt.datepicker/Develop/dist/js/persian-datepicker-0.3.6.min.js')

block content
    section#main_content.inner
        include ../includes/datepicker-demo-0.3.6.html