extends layout

block content
    #main_content_wrap.outer
      section#main_content.inner
        h1 Coming soon
        h3 Welcome to Persian Web Toolkit Pages.
        p
          | Some Ui Tools Compatible With Persian Layout And Jalali Date Like:
        ul
          li
            a(href='babakhani.github.io/PersianWTK/persiandate_home')  Persian Date Object
            ul
              li
                a(href='babakhani.github.io/PersianWTK/persian_date_demo') Demo
              li
                a(href='babakhani.github.io/PersianWTK/persian_date_demo') Document
          li
            a(href='babakhani.github.io/PersianWTK/datepicker')  Persian Date Picker
            ul
              li
                a(href='babakhani.github.io/PersianWTK/datepicker_demo') Demo
              li
                a(href='babakhani.github.io/PersianWTK/datepicker_demo') Document

  