extends layout

block menu
    include ../includes/persiandate.menu.html



block content
 #main_content_wrap.outer
      section#main_content.inner
        include ../includes/persiandate-doc-0.1.8.html