
table {
    table-layout: fixed;
    width: 100%;
}

table td {
    text-align: left;
}

table td:nth-child(2),
table td:nth-child(3) {
    color: #888;
}

/* Hide unwanted things */
.md-header-nav__source,
.md-logo,
.md-source__repository,
.md-nav__title {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}
