

table td:nth-child(2),
table td:nth-child(3) {
    color: #888;
}

/* Hide unwanted things */
.md-header-nav__source,
.md-logo,
.md-source__repository,
.md-nav__title {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

.md-content__inner label {
    display: block;
    min-width: 300px;
}

input.datepicker-demo,
input.datepicker-demo-alt {
    min-width: 200px;
    border: 1px solid gray !important;
    padding: 10px;
}

/*.md-content__inner h2{*/
    /*display: block;*/
    /*width: 100%;*/
    /*float: right;*/
/*}*/
.md-content__inner .inline-sample{
    display: block;
    width: 100%;
    float: right;
    clear: both;
}
