* {
    font-family: "Open Sans", "IRANSans";
}

.md-header {
    background-color: #222 !important;
    border-bottom: 3px solid #028475;
}

.datepicker-plot-area *{
    font-family: IRANSans !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select,
    textarea,
    input {
        font-size: 16px;
    }
}

input[type='text'],textarea {font-size:1em;}

table td:nth-child(2),
table td:nth-child(3) {
    color: #888;
}

.two-inline-datepicker > div {
    width: 50%;
    float: right;
    padding: 5%;
}

@media only screen and (max-width: 720px) {
    .two-inline-datepicker > div {
        width: 100%;
    }

    .md-content__inner label {
        display: block;
        width: 100%;
    }
}

.one-inline-datepicker {
    width: 50%;
    margin: 0 25%;
}

.one-inline-datepicker input.datepicker-demo {
    margin-bottom: 10px;
}

.md-logo {
    padding: 0 !important;
}

.md-logo img {
    width: 36px;
    height: 36px;
}

.md-header-nav__title {
    padding-left: 10px;
}

.md-nav__title.md-nav__title--site,
[data-md-color-primary=red] .md-nav__source{
    background: #222 !important;
}

.md-nav__source,
.md-source__repository {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

.md-content__inner h3 {
    text-indent: 10px;
    padding-left: 10px;
}

.md-content__inner h4,
.md-content__inner h5 {
    text-indent: 10px;
    padding-left: 10px;
    font-size: 18px;
}

.md-content__inner h3 {
    border-left: 6px solid #ef5350;
}

.md-content__inner h4 {
    font-size: 18px;
    height: 2.6em;
    border-left: 3px solid #ef5350;
}

.md-content__inner h5,
.md-content__inner h6 {
    border-left: 2px solid #ef5350;
}

.md-typeset h5 {
    text-transform: none;
    line-height: 1.2em;
    height: 2.6em;
}

.md-typeset h4, .md-typeset h5, .md-typeset h6 {
    letter-spacing: normal;
}

.datepicker-plot-area {
    font-family: 'Open Sans', 'IRANSans';
}

.datepicker-plot-area.datepicker-plot-area-inline-view {
    margin-bottom: 30px;
}

input.datepicker-demo,
input.datepicker-demo-alt {
    min-width: 200px;
    border: 1px solid gray !important;
    padding: 10px;
    font-family: 'Open Sans', 'IRANSans';
}

.md-content__inner .inline-sample {
    display: block;
    width: 100%;
    float: right;
    clear: both;
}

/*.home-page .md-sidebar {*/
    /*display: none;*/
/*}*/

/*.home-page .md-content {*/
    /*display: block;*/
    /*width: 90%;*/
    /*margin: 0px 5%;*/
/*}*/

/*.home-page .jumbotron {*/
    /*!*border: 2px solid red !important;*!*/
/*}*/

.md-nav__list .md-nav__item.md-nav__item--nested label {
    font-size: 18px;
}


