body {
    padding-top: 56px !important;
}

body, html, * {
    font-family: "Open Sans" !important;
}

.jumbotron {
    background: #2E8B34 !important;
}

.jumbotron * {
    color: #fff !important;
    text-shadow: 1px 1px 1px #393939;
}

.jumbotron h1 {
    font-size: 32px !important;
}

.thumbnail {
    border: 0;
}

.navbar * {
    -webkit-font-smoothing: antialiased;
    font-family: tahoma !important;
    color: #fff !important;
    font-weight: normal !important;
    font-feature-settings: "kern", "onum", "liga" !important;
    text-size-adjust: 100% !important;
}

.navbar {
    height: 56px !important;
    line-height: 56px !important;
    border-bottom: 3px solid  #2E8B34;
}

.navbar-nav li a,
.navbar-brand {
    height: 56px !important;
    line-height: 56px !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-brand{
    padding-left: 0px;
}

.navbar-brand img{
    float: left;
    margin-top: 10px;
    margin-left: -15px;
    margin-right: 15px;
}

.jumbotron * {
    text-align: center !important;
}

.caption .description {
    min-height: 70px;
}